html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: no-repeat;
    background-color: #E8E8E8;
    background: -moz-linear-gradient(144deg, rgba(232,232,232,1) 0%, rgba(204,220,232,1) 60%, rgba(155,182,215,1) 100%);
    background: -webkit-linear-gradient(144deg, rgba(232,232,232,1) 0%, rgba(204,220,232,1) 60%, rgba(155,182,215,1) 100%);
    background: linear-gradient(144deg, rgba(232,232,232,1) 0%, rgba(204,220,232,1) 60%, rgba(155,182,215,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e8e8e8",endColorstr="#9bb6d7",GradientType=1);
    background-attachment: fixed;
}

body {
    margin: 0vh 7vw;
    font-family: sans-serif;
    color: #333A56;
    font-size: 11pt;
}

h2 {
    text-align: center;
    display: block;
    color: #F7F5E6;
    background-color: #52658F;
    box-shadow: #355b63 3px 3px;
}

p {
    padding: 0;
}

a {
    text-decoration: none;
    color: #71caff;
    padding: 0.3em;
    margin: 0.3em;
    border: solid 1px #71caff;
    border-radius: 3px;
    font-weight: bold;
    transition: background 0.2s ease-in-out;
}

a:hover {
    background-color: #71caff;
    color: #fff;
}

ul {
    text-align: center;
    padding: 0;
}

.query li {
    list-style: none;
    background-color: #e1f1f5;
    box-shadow: rgba(0,0,0,0.15) 2px 2px;
    padding: 0.1em;
    margin: 0.5em 5em;
}

span {
    display: inline-block;
    background-color: #e1f1f5;
    box-shadow: rgba(0,0,0,0.15) 2px 2px;
    padding: 0.25em;
    margin: 0.35em 0.5em;
    font-size: 0.85em;
}

.custom-button {
    margin: 0.5em 3em;
}

.custom-select {
    margin: 0 3em;
}

.query {
    background-color: #9fcbf1;
    display: inline-grid;
    width: 25vw;
    overflow-y: auto;
    padding: 0.5vh 0.5vw;
    margin: 1vh 1vw;
    box-shadow: rgba(20,22,33,0.4) 0 0 5px;
}

.dataArea {
    background-color: rgba(255,255,255,0.35);
    padding: 0.1em;
    margin: 0.5em 5em;
}

.info li {
    list-style: none;
    display: inline-block;
}


#sfiInfo, #hdiInfo {
    width: 45%;
    display: inline-grid;
    margin: 1em;
    padding: 1em;
    background-color: #52658F;
    color: #e8e8e8;
}

#strongScoreCountries, #weakScoreCountries {
    text-align: center;
    margin: 0.5em 5em;
}